body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 26px;
  height: 100vh;
  background: radial-gradient(
    at 0% 0%,
    lightblue,
    whitesmoke,
    rgba(83, 83, 227, 0.6)
  );
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  background-color: #563d7c;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 10px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 200px auto 0 auto;
  max-width: 800px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  color: gray;
  border-top: 2px solid rgb(54, 10, 57);
  font-weight: 500;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
